*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}
.container>input{
    display: flex;
    border: 1px solid black;
}
input{
    text-align: center;
}